
<p>
  <h1>Dojo Activity Center</h1>
          
          <p> @review.title </p> 
          <p>Event Coordinator :@review.Userid </p>
          <p>Description : @review.Text</p>
          <p>Participants:</p> 
          <button type="button" class="btn btn-light">join</button>
          
</p>